<div class="header header-single">
	<div class="site-description">
		<a class="single-post-container" href="{{ .Site.BaseURL }}">
			<img class="img-single" src="{{ .Site.Params.Avatar | safeURL }}" alt="{{ .Site.Title }}" />
			<div class="title-single">{{ .Site.Title }}</div>
		</a>
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
				<li><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></li>
				{{- end -}}
				{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
				<li><a href="#" class="scheme-toggle" id="scheme-toggle"></a></li>
				{{- end -}}
			</ul>
		</nav>
	</div>
</div>